In [18]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import numpy as np
# Import the API key.
from config import g_key

In [19]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Punta Arenas,-53.1500,-70.9167,60.91,51,90,20.71,CL,2021-10-28 21:40:03
1,1,Provideniya,64.3833,-173.3000,15.91,67,90,8.95,RU,2021-10-28 21:40:04
2,2,Yar-Sale,66.8333,70.8333,22.75,96,100,12.24,RU,2021-10-28 21:37:48
3,3,Ushuaia,-54.8000,-68.3000,60.46,36,20,13.80,AR,2021-10-28 21:36:21
4,4,Vardo,70.3705,31.1107,32.20,93,100,25.55,NO,2021-10-28 21:36:51

In [20]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [21]:
import random

In [22]:
random.randint(-90,90)

-18

In [23]:
random_number = random.randint(-90, 89) + random.random()
random_number

-60.97682603383091

In [24]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [25]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# 5. Add the heatmap layer.
fig.add_layer(heat_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [28]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
5,5,Saint George,37.1041,-113.5841,77.47,31,1,4.00,US,2021-10-28 21:37:00
8,8,Dekernes,31.0876,31.5950,76.89,80,55,6.24,EG,2021-10-28 21:40:07
10,10,Kupang,-10.1667,123.5833,80.94,80,95,5.01,ID,2021-10-28 21:40:09
12,12,Puerto Ayora,-0.7393,-90.3518,78.76,90,35,5.01,EC,2021-10-28 21:40:10
14,14,Tucupita,9.0622,-62.0510,76.15,89,99,4.03,VE,2021-10-28 21:40:11
15,15,Victoria,22.2855,114.1577,77.38,87,83,1.01,HK,2021-10-28 21:37:49
17,17,Birao,10.2849,22.7882,78.37,35,57,2.86,CF,2021-10-28 21:40:12
18,18,Mar Del Plata,-38.0023,-57.5575,75.22,82,0,15.01,AR,2021-10-28 21:39:11
21,21,San Julian,21.0167,-102.1667,79.20,22,100,3.44,MX,2021-10-28 21:40:13
22,22,Rikitea,-23.1203,-134.9692,75.42,81,86,18.61,PF,2021-10-28 21:40:14

In [29]:
preferred_cities_df.count()

City_ID       188
City          188
Lat           188
Lng           188
Max Temp      188
Humidity      188
Cloudiness    188
Wind Speed    188
Country       188
Date          188
dtype: int64

In [30]:
# Filter the dataset to find the cities that fit the criteria.
hotels_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
hotels_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
5,5,Saint George,37.1041,-113.5841,77.47,31,1,4.00,US,2021-10-28 21:37:00
8,8,Dekernes,31.0876,31.5950,76.89,80,55,6.24,EG,2021-10-28 21:40:07
10,10,Kupang,-10.1667,123.5833,80.94,80,95,5.01,ID,2021-10-28 21:40:09
12,12,Puerto Ayora,-0.7393,-90.3518,78.76,90,35,5.01,EC,2021-10-28 21:40:10
14,14,Tucupita,9.0622,-62.0510,76.15,89,99,4.03,VE,2021-10-28 21:40:11
15,15,Victoria,22.2855,114.1577,77.38,87,83,1.01,HK,2021-10-28 21:37:49
17,17,Birao,10.2849,22.7882,78.37,35,57,2.86,CF,2021-10-28 21:40:12
18,18,Mar Del Plata,-38.0023,-57.5575,75.22,82,0,15.01,AR,2021-10-28 21:39:11
21,21,San Julian,21.0167,-102.1667,79.20,22,100,3.44,MX,2021-10-28 21:40:13
22,22,Rikitea,-23.1203,-134.9692,75.42,81,86,18.61,PF,2021-10-28 21:40:14

In [31]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
5    Saint George      US     77.47  37.1041 -113.5841
8        Dekernes      EG     76.89  31.0876   31.5950
10         Kupang      ID     80.94 -10.1667  123.5833
12   Puerto Ayora      EC     78.76  -0.7393  -90.3518
14       Tucupita      VE     76.15   9.0622  -62.0510
15       Victoria      HK     77.38  22.2855  114.1577
17          Birao      CF     78.37  10.2849   22.7882
18  Mar Del Plata      AR     75.22 -38.0023  -57.5575
21     San Julian      MX     79.20  21.0167 -102.1667
22        Rikitea      PF     75.42 -23.1203 -134.9692

In [42]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()\
# Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [33]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

NameError: name 'info_box_template' is not defined

In [ ]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig